<!doctype html>

<html>

<head>
	<title>Elasticsearch-Aknn Demo</title>
	<link rel="stylesheet" href="https://bootswatch.com/4/journal/bootstrap.css">

	<!-- <meta http-equiv="refresh" content="5" > -->

	<style>
		.container {
			padding: 1em 0;
		}
		img {
			border: 2px solid black;
			padding: 1px;
		}
		#query_img img {
			object-fit: cover;
			max-width: 90%;
			height: 500px;
		}
		#neighbor_imgs img {
			object-fit: cover;
			width:180px;
			height:180px;
		}

		#random_imgs img {
			float: left;
			object-fit: cover;
			width:28px;
			height:28px;	
		}

    </style>

</head>

<body>

	<div class="container">

		<div class="page-header">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12">
					<h1>Twitter Image Similarity Search</h1>
					<hr/>
					<h3>Searched <span class="badge badge-primary">{{count}} images</span> in <span class="badge badge-primary">{{took_ms}} milliseconds</span></h3>
					<hr/>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-6">
				<h3>Query Image</h3>
				<hr>
				<div id="query_img">
					<img src='{{query_img["_source"]["s3_url"]}}'/>
				</div>
				<p>
					<a href='{{query_img["_source"]["twitter_url"]}}' target="_blank">
						Original Tweet
					</a>
				</p>
			</div>
			<div class="col-lg-6">
				<h3>Nearest Neighbors</h3>
				<hr>
				<div class="row" id="neighbor_imgs">
				{% for img in neighbor_imgs %}
					<div class="col-lg-4">
						<a href='/{{es_index}}/{{es_type}}/{{img["_id"]}}'>
							<img src='{{img["_source"]["s3_url"]}}'/>
						</a>
					</div>
				{% endfor %}
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12">
				<hr>
				<small>Random images...</small>
				<div id="random_imgs">
					{% for img in random_imgs %}
					<a href='/{{es_index}}/{{es_type}}/{{img["_id"]}}'>
						<img src='{{img["_source"]["s3_url"]}}'/>
					</a>
					{% endfor %}
				</div>
			</div>
		</div>

	</div>

</body>

</html>







